<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <!-- Define the Log4J Appenders -->
  <Appenders>
    <!-- Console Appender -->
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
    </Console>

    <!-- File Appender -->
    <File name="FileAppender" fileName="logs/app.log">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
    </File>

    <!-- GELF Appender -->
    <!--
    <Socket name="GelfAppender" host="localhost" port="12201" protocol="udp">
      <JsonTemplateLayout eventTemplateUri="classpath:GelfLayout.json"/>
    </Socket>
    -->
    <!-- source. https://github.com/apache/logging-log4j2/discussions/2495  -->
    <Socket name="GelfAppender" host="localhost" port="12201" protocol="udp">
      <JsonTemplateLayout eventTemplateUri="classpath:CustomGelfLayout.json"
                          nullEventDelimiterEnabled="true"
                          locationInfoEnabled="true">
        <EventTemplateAdditionalField key="_facility" value="log2graylog" />
      </JsonTemplateLayout>
    </Socket>

  </Appenders>

  <!-- Definition of loggers -->
  <Loggers>
    <!-- Root Logger -->
    <Root level="info">
      <AppenderRef ref="ConsoleAppender" />
      <AppenderRef ref="FileAppender" />
      <AppenderRef ref="GelfAppender"/>
    </Root>
  </Loggers>
</Configuration>